<!DOCTYPE html>
<html lang="es">
  <head>
  <title>Mi sitio
   <%= page %>
  </title>
  <meta name="active-menu" content="<%= menuId %>">
	<%- include('partials/head'); %> 
 </head>
 
 <body id='index' >
      
	<%- include('partials/navbar'); %>

       <div class="jumbotron p-3 my-3 bg-dark text-white">
			    
       <h1 class="display-4">Hola bienvenido a mi pagina XOXO</h1>
          <h2>"Learning Requires Failure."</h2>
          <hr class="my-4">
          <p>Mi primer sitio Sebastian Ramirez con NodeJS.</p>
	 <h2>I see both sides like Chanel</h2>
          <a class="btn btn-primary btn-lg btn-light"
						   
         href="https://www.instagram.com/sebas_ed_ramirez/" role="button">Instagram</a>
       </div>
				    
         <%- include('partials/footer'); %>
	 <%- include('partials/script'); %>
</body>
 </html>


