  <!-- Nombre del autor: Sebastian Eduardo Ramirez Bocanegra
       Objetivo de archivo: Mostrar pagina de inicio de un usuario logeado
       Fecha y hora: 29/10/2020 \-->
<!DOCTYPE html>
<html lang="es">
  <head>
  <title>
   <%= page %>
  </title>                                                                                              
       <%- include('partials/head'); %>
 </head>

 <body id='index' >
       <%- include('partials/navbarRegistrados'); %> 	 
  </div>
  </nav>




        <div class="jumbotron p-3 my-3 bg-dark text-white">
      <h1 class="display-4">Hola bienvenido a mi pagina XOXO</h1>
          <h2>"Learning Requires Failure."</h2>
          <hr class="my-4">
          <p>Mi primer sitio Sebastian Ramirez con NodeJS.</p>
         <h2>I see both sides like Chanel</h2>
          <a class="btn btn-primary btn-lg btn-light"

         href="https://www.instagram.com/sebas_ed_ramirez/" role="button">Instagram</a>
       </div>

         <%- include('partials/footer'); %>
         <%- include('partials/script'); %>
</body> 
</html>															
 

