<!-- Nombre del autor: Sebastian Eduardo Ramirez Bocanegra
       Objetivo de archivo: Mostrar la pagina de inicio, la presebtacion de la pagina
       Fecha y hora: 29/10/2020 \-->

<!DOCTYPE html>
<html lang="es">
  <head>
  <title>Mi sitio
  </title>
       <%- include('partials/head'); %>
    <link rel="stylesheet" href="../stylesheets/style.css">
 </head>

 <body id='index' >
        <%- include('partials/navbarRegistrados'); %>
		
    <% if (mensaje) { %>
      <div class="alert alert-danger" role="alert">
        <%- mensaje %>
      </div>
      <%  } %>

  <div class="card">
     <div class="card-header">
          Modificando productos
    </div>

    <div class="card-body"> 
     <form action="/productos/update" method="post">				     

             <div class="form-group">
                <label>Clave de producto:</label>
                <input type="number" class="form-control" name="claveProducto" value="<%= claveProducto %>" autocomplete="off" readonly>
              </div>		

              <div class="form-group">
                 <label>Nombre del vendedor:</label>		      
                 <input type="text" class="form-control" name="nombreProducto"  value="<%= nombreProducto %>" autocomplete="off"  readonly>
              </div>							 
     
             <div class="form-group">
                 <label>Precio:</label>			   
                 <input type="number" class="form-control" name="precio" value="<%= precio %>" autocomplete="off" >
              </div>		      
     
             <div class="form-group">
                 <label>Color:</label>			 
                 <input type="text" class="form-control" name="color"  value="<%= color %>" autocomplete="off" required>
             </div>		  
 
            <div class="form-group">				
                <label>Existencia:</label>	         
                <select type="text" class="form-control" name="existencia" value="<%= existencia %>" autocomplete="off" required>  
		<option>true</option>
                 <option>false</option>
               </select>
             </div>    

        <div class="form-group">
          <input type="submit" class="btn btn-danger" value="Editar" />
         <a href="/productos" class="btn btn-dark" >Volver</a>
      </div>		    
  </form>
 </div>
</div>
     
         <%- include('partials/footer'); %>
         <%- include('partials/script'); %>
</body>
 </html>


